<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2017-11-18 09.50 拍摄的照片.jpg</string>
	<string>2017-11-18 09.50 拍摄的影片.mov</string>
	<string>2017-11-18 09.51 拍摄的影片.mov</string>
	<string>2017-11-18 09.52 拍摄的影片.mov</string>
	<string>2017-11-18 09.57 拍摄的照片.jpg</string>
	<string>2017-11-18 20.19 拍摄的照片.jpg</string>
</array>
</plist>
